*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,li{
    margin: 0 !important;
    padding: 0 !important;
}

.first-section{
    display: table-row; 
    height: 10%;
}

.header_list{
    height: 4vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo {
    align-items: center;
    justify-content: center;
}


.header_list li {
    cursor: pointer;
    display: inline;
    display: flex;
    align-items: center;
    font-size: 1.4vw;
}

.siideTitle{
text-align: center;
}

.header_list li:hover {
    color:#fff;
    text-decoration: underline;
}

.header_list .logo {
    width: 30%;
}
img {
    vertical-align: middle;
    width: 9vw;
}

.slideTitle {
	text-align: center;
}

.slideBtn {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.first-btn {
    width: 17vw;
    height: 5vw;
    font-size: 3vw;
    border-radius: 1vw;
    background-color: rgba(128, 128, 128, 0.575);
    color: #dad8d8;
}

.second-btn {
    width: 17vw;
    height: 5vw;
    font-size: 3vw;
    border-radius: 1vw;
    background-color: rgba(128, 128, 128, 0.575);
    color: #dad8d8;
}

.second-btn:hover {
    background-color: rgba(64, 63, 63, 0.798);
}

.second-btn:focus {
    outline: none;
}

.first-btn:hover {
    background-color: rgba(64, 63, 63, 0.798);
}

.first-btn:focus {
    outline: none;
}

.textBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    padding: 1rem;
	font-weight: bold;
	font-size: 3vw;
}

.sectionTitle{
	text-align: center;
    font-size: 3vw;
}

.nav-bar{
    background-color: darkgray;
}

.second-section-btn-scroll {
    display: flex;
    justify-content: center;
}

